@import "../../node_modules/bootstrap/scss/bootstrap.scss"
@impot "../../public/fonts/Poppins-Regular.ttf"
@font-face
    font-family: Poppins-regular
    src: url("../../public/fonts/Poppins-Regular.ttf")
@font-face
    font-family: Poppins-Bold
    src: url("../../public/fonts/Poppins-Bold.ttf")
@font-face
    font-family: Poppins-Semi-Bold
    src: ulr("../../public/fonts/Poppins-SemiBold.ttf")
@font-face
    font-family: Poppins-Medium
    src: url("../../public/fonts/Poppins-Medium.ttf")




#logo
    width: 9%
    margin-top: 5rem
    margin-bottom: 4rem

.navbar-nav
    font-size: 0.80rem

#boutons
    display: hidden
    position: absolute
    right: 5rem
#connexion
   font-size: 0.90rem

#shopAt
    background: rgb(243, 243, 243)
    h3
       font-family: Poppins-regular
       color: rgb(189, 88, 78)
    h1
        font-family: Poppins-Bold
    p
        font-size: 1.2rem
        color: rgba(108, 117, 125, 0.55) !important
    button
        background-color: rgb(189, 88, 78)
        font-size: 0.8rem

#imgShopAt
    width: 68%
    display: block
#service
    .row
        margin-top: 2rem
    h2
        position: absolute
        z-index: 2
        top: 8rem
        left: 14rem
        color: white !important
        font-family: Poppins-Medium
        font-size: 1.9rem
    a
        text-decoration: none
        color: white
        border-bottom: solid 0.1rem
        border-color: rgba(255, 255, 255, 0.71)
    img
        width: 100%
        height: 80%

#produits
    font-family: Poppins-Bold
    img
        width: 100%
        margin-bottom: 2rem
        margin-top: 4rem



    a
        text-decoration: none
        color: black !important
    p
        color: rgb(189, 88, 78)
    .bgSale
        position: static
        border-radius: 50%
        height: 3rem
        width: 3rem
        font-size: 0.8rem
        background-color: rgb(189, 88, 78)
        color: white !important
        p
            padding-top: 0.8rem
    span
        text-decoration: line-through
        color: rgba(216, 211, 211, 0.82)

#discover
    margin-top: 9rem
    .parallax
        background-image: url("../../public/images/cta-bg.jpg")
        background-attachment: fixed
        background-position: center
        background-repeat: no-repeat
        background-size: cover
        min-height: 25rem

    .contenu
        color: white
        position: absolute
        width: 100%
        font-family: Poppins-Medium
        button
            background-color: rgb(189, 88, 78)
            color: white
            border-radius: 10rem
            font-size: 0.8rem
            font-family: Poppins-Medium
            font-weight: bold

#carousel
    font-family: Poppins-Bold
    margin-top: 5rem
    .bgSale2
        position: static
        border-radius: 50%
        height: 3rem
        width: 3rem
        font-size: 0.8rem
        background-color: rgb(189, 88, 78)
        color: white !important
        p
            padding-top: 0.8rem

#cards
    .bgB
        background-color: rgb(243, 243, 243)
    .bgR
        background-color: rgb(189, 88, 78)
    .card
        border: none
    .card-body
        padding-right: 5rem
        padding-left: 5rem
    .pGris
        color: rgb(198, 198, 198)
    i
        font-size: 2.5rem
    .card-title
        font-family: Poppins-Bold
    .btn
        font-family: Poppins-Regular
        font-weight: bold
        font-size: 0.8rem
        padding: 0.8rem
        margin-bottom: 5rem

#footer
    background-color: rgb(49, 49, 49)
    p
        color: rgb(198, 198, 198)
        font-size: 0.84rem
        font-family: Poppins-Regular
    .parag
        mar
    .titre
        margin-bottom: 2rem
    
        color: white
        font-size: 0.9rem
        font-weight: bold
    ul
        list-style: none
        padding-left: 0
        font-size: 0.8rem
        margin-left: 1rem
        a
            text-decoration: none
            color: rgb(198, 198, 198) !important
        hr
            background-color: rgb(76, 76, 76)
        li
            color: rgb(198, 198, 198) !important
            i
                margin-right: 0.7rem

    .bordure
        border-left: solid 1px rgb(76, 76, 76)
        border-right: solid 1px rgb(76, 76, 76)
    .col-4
        margin-top: 4rem
    #tag
        a 
            font-size: 0.6rem
            text-transform: uppercase
            font-family: Poppins-Regular
            text-decoration: white
            color: rgb(198, 198, 198)
            border: solid 1px rgb(76, 76, 76)
            padding: 0.5rem
            padding-left: 0.8rem
            padding-right: 0.8rem

#copyright
    background-color: rgb(41, 40, 40)
    color: rgb(130, 128, 128)
    font-size: 0.8rem
    padding-top: 3rem
    padding-bottom: 3rem